/*? Navigation Section*/
.container-about {
  display: flex;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("img/background.jpg");
  position: relative;
  height: 60vh;
  width: 100%;
  background-size: cover;
}

.container .first-section {
  padding: 0px 420px;
}

.first-section h1 {
  color: white;
  font: 4vh;
  font-weight: lighter;
}
/*? 2.About us*/
.about-us {
  display: flex;
  gap: 50px;
  padding: 20px 100px;
  margin-top: 40px;
}
.about-us img {
  width: 400px;
}
.about-us-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
}
.about-us-content h3 {
  font-size: 8vh;
}
.about-us-content p {
  font-size: 3vh;
}
.about-us-content button a {
  color: black;
}
/*!-------------------------------------------------------------------------*/
/*!-------------------------------------------------------------------------*/
/*? Media Query*/
@media (max-width: 450px) {
  .about-us {
    flex-direction: column;
    padding: 10px;
    width: 400px;
    align-items: center;
  }
  .about-us {
    padding: 20px;
  }
  .about-us-content h3 {
    font-size: 3.5vh;
  }
  .about-us-content p {
    font-size: 2vh;
  }
  .about-us img {
    width: 250px;
  }
}
