/*? contact -container*/
.container-contact {
  display: flex;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("img/background.jpg");
  position: relative;
  height: 60vh;
  width: 100%;
  background-size: cover;
} /*? Map*/
.map {
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  align-self: center;
}

.contact-container {
  display: flex;
  margin-top: 50px;
  gap: 120px;
  justify-content: center;
}

/*? contact */
.contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-details {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact-details i {
  color: rgb(255, 149, 0);
  font-size: 5vh;
}

.contact-details-content p {
  font-size: 2.5vh;
}

/*? contact form page*/
.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 16px;
  outline: none;
  border: 1px solid #ccc;
}
.contact-form button {
  color: black;
  background-color: white;

  display: flex;
  align-self: start;
}

/*!------------------------------------------------------------------------------------*/
/*!------------------------------------------------------------------------------------*/
/*? Media Query*/
@media (max-width: 450px) {
  .contact-container {
    flex-direction: column-reverse;
    padding: 20px;
    gap: 30px;
  }
  .contact-form {
    align-content: center;
  }
  .map {
    padding: 20px 10px;
    align-items: center;
  }
  .map iframe {
    width: 350px;
  }
}
