@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}
h2 {
  border-bottom: 3px solid red;
  font-family: "Josefin Sans", sans-serif;
  padding: 0px 30px;
}
/*? 1.Navigation and first section section*/
.container {
  display: flex;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("img/banner.png");
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
}
/*! 1.1 Navigation Section*/
nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;

  width: 100%;
}
nav img {
  width: 22vh;
}
nav ul {
  gap: 15px;
  align-items: center;
}
nav ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 5px;
}
nav ul li a:hover {
  border-bottom: 2px solid red;
}
nav ul a {
  color: rgb(255, 255, 255);
}
nav .fa-solid {
  display: none;
}
/*! 1.2 First Section*/
.first-section {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-self: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: white;
}
.first-section h1 {
  font-size: 10.5vh;
  font-family: "Josefin Sans", sans-serif;
}

button {
  padding: 15px;
  font-size: 3vh;
  border-radius: 10px;
  font-weight: bolder;
  border: 0.1px solid rgb(121, 117, 117);
  transition: 0.3s ease-in-out;
  background: transparent;
  color: white;
}
button a {
  color: rgb(255, 255, 255);
}

button:hover {
  cursor: pointer;
  background-color: rgb(248, 48, 3);
  transition: 0.3s ease-in-out;
}
/*? Courses We offer*/
.courses-we-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

.courses-we-offer-content {
  display: flex;
  gap: 30px;
}
.courses {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 250px;
  padding: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: 0.3s ease-in-out;
  text-align: center;
}
.courses h3 {
  font-size: 5vh;
}
.courses p {
  font-size: 3vh;
}
.courses:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}
/*? 3.Our Global Campus*/
.our-global-campus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}
.global-campus {
  display: flex;
  gap: 30px;
}
.our-global-campus-content img {
  width: 240px;
  height: 240px;
  transition: 0.3s ease-in-out;
}
.our-global-campus-content img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
/*? 4.Our Facilities*/
.our-facilities {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  margin-top: 50px;
  padding: 10px 100px;
}
.facilities {
  display: flex;
  gap: 20px;
}
.facilities-content {
  box-shadow: rgba(68, 68, 75, 0.25) 0px 30px 60px -12px inset,
    rgba(177, 171, 171, 0.3) 0px 18px 36px -18px inset;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.facilities-content:hover {
  transform: scale(1.04);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.facilities-content img {
  width: 230px;
}
/*? 5.testimonial*/
.our-testimonial {
  text-align: center;
  align-items: center;
  padding: 0px 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.testimonial {
  display: flex;
  gap: 60px;
}
.testimonial-content {
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px,
    rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
  gap: 5px;
}
.testimonial-content-upper {
  display: flex;
  gap: 20px;
}
.testimonial-content-upper img {
  width: 80px;
  border-radius: 50%;
}
.rating i {
  color: rgb(228, 194, 5);
}
/*? 6.Enrollment*/
.enrollment {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 50px;
}
.enrollment img {
  width: 800px;
  filter: brightness(50%);
}
.enrollment-content {
  position: absolute;
  display: flex;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.enrollment-content h3 {
  font-size: 8vh;
  color: white;
}
/*? 8.Footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  margin-top: 50px;
}
footer p {
  font-size: 2.5vh;
}
.fa-facebook,
.fa-linkedin {
  color: rgb(5, 86, 249);
}
.fa-twitter {
  color: rgb(7, 171, 183);
}
.fa-youtube {
  color: red;
}

/*!----------------------------------------------------------------------------*/
/*!----------------------------------------------------------------------------*/
/*?Media Query*/
@media screen and (max-width: 450px) {
  .container-img {
    width: 400px;
  }
  nav {
    padding: 10px;
    height: 100px;
  }
  nav a img {
    width: 150px;
  }
  .nav-links {
    position: absolute;
    height: 100vh;
    width: 200px;
    background: black;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav ul {
    padding: 0px 0px 0px 10px;
    width: 0;
  }
  nav ul li {
    padding: 10px 0px;
    width: 0;
    display: block;
  }

  .first-section {
    padding: 10px;
    width: 400px;
    color: white;
  }
  .first-section h1 {
    font-size: 4vh;
    gap: 0;
  }
  .first-section p {
    font-size: 1.5vh;
  }
  button {
    padding: 10px;
    font-size: 2vh;
  }
  nav .fa-solid {
    color: white;
    font-size: 3vh;
    display: block;
    margin: 10px;
    cursor: pointer;
  }
  /*? 2.Course we offer*/
  .courses-we-offer-content {
    flex-direction: column;
  }
  /*? 3.our global campus*/

  .global-campus {
    flex-direction: column;
  }
  /*? 4.our facilities*/
  .facilities {
    flex-direction: column;
  }
  /*? 5.Testimonial*/
  .our-testimonial {
    padding: 15px;
  }
  .testimonial {
    flex-direction: column;
  }
  /*? 6.Enrollment*/
  .enrollment {
    padding: 10px;
  }
  .enrollment img {
    width: 350px;
    background-size: cover;
  }
  .enrollment-content h3 {
    font-size: 2.5vh;
  }
  /*? 7.Footer*/
  footer {
    padding: 10px;
  }
}
