@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
h2 {
  border-bottom: 3px solid red;
  font-family: "Josefin Sans", sans-serif;
  padding: 0px 100px;
}
/*? 1.Navigation and first section section*/
.container {
  position: relative;
  display: flex;
}
.container-img {
  width: 100%;
}
/*! 1.1 Navigation Section*/
nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px;
  position: absolute;
  width: 100%;
}
nav img {
  width: 25vh;
}
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
nav ul a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav ul a:hover {
  border-bottom: 2px solid red;
}
/*! 1.2 First Section*/
.first-section {
  position: absolute;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  padding: 0px 150px;
}
.first-section h1 {
  color: white;
  font-size: 14vh;
  font-family: "Josefin Sans", sans-serif;
}
.first-section p {
  color: white;
}
.first-section button {
  padding: 15px;
  font-size: 3vh;
  border-radius: 20px;
  font-weight: bolder;
  border: 0px;
  transition: 0.3s ease-in-out;
}
.first-section button:hover {
  background-color: green;
  color: white;
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}
/*? Courses We offer*/
.courses-we-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.courses-we-offer-content {
  display: flex;
  gap: 30px;
}
.courses {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transition: 0.3s ease-in-out;
  text-align: center;
}
.courses p {
  font-size: 2.5vh;
}
.courses:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
}
/*? 3.Our Global Campus*/
.our-global-campus {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
}
.global-campus {
  display: flex;
  gap: 20px;
}

.our-global-campus-content img {
  width: 240px;
  height: 240px;
}
